.about-us-wrapper {
    h1 {
        padding-bottom: 40px;
    }
    .owner-img {
        max-width: 300px;
        padding-right: 20px;
        float: left;
    }
    .about-us-container {
        float: left;
    }
}