.home--hero-section {
    margin: 0;
    .inner {
        position: relative;
    }
    .mobile-background-img {
        display: block;
        width: 100%;
        @media(min-width: 900px) {
            display: none;
        }
    }
    .desktop-background-img {
        display: none;
        width: 100%;
        @media(min-width: 900px) {
            display: block;
        }
    }

    .info-text {
        background-color: $color-clay;
        opacity: 75%;
        
        max-width: 250px;
        font-family: island moments;
        margin: 0 auto;
        padding: 10px 30px 0 30px;
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        
        @media(min-width: 768px) {
            width: 100%;
            // top: 50%;
            margin: 0 auto;
            padding: 0 30px 0 60px;
            text-align: center;
            max-width: 400px;
        }
        @media (min-width: 1024px) {
            max-width: 500px;
        }
        h1 {
            color: $white;
            font-size: 60px;
            font-family: island moments;
            
            text-align: left;
            @media(min-width: 768px) {
                font-size: 78px;
                margin-left: 20px;
            }
            @media(min-width: 1064px) {
                font-size: 128px;
            }
            
        }
        .secondary-h1 {
            font-family: abril fatface;
            font-size: 38px;
            text-align: right;
            color: $white;
            float: right;
            padding-right: 11px;
            margin-top: -32px;
            padding-bottom: 20px;
            @media(min-width: 768px) {
                font-size: 48px;
                padding-right: 72px;
            }
            @media(min-width: 1064px) {
                margin-top: -67px;
                font-size: 65px;
            }
        }
    }
}
.homepage-cta {
    text-align: center;
    max-width: 500px;
}
