.footer-cta {
    padding-bottom: 80px;
    padding-top: 80px;
    text-align: center;
    background-color: $white;
    .row {
        display: flex;
        gap: 50px;
        justify-content: center;
        @media(min-width: 900px) {
            gap: 154px;
        }
        .row-item {
            width: auto;
            .footer-cta-heading {
                font-size: 20px !important;
                font-family: inter;
                font-weight: 700;
                
            }
            p {
                font-size: 16px;
                @media(min-width: 768px) {
                    font-size: 20px !important;
                }
            }
        }
        
    }
}
.homepage {
    .footer-cta {
        background-color: $color-clay;
    }
}
