.homepage-services {
    background-color: $color-sand;
    padding-bottom: 60px;
    margin-top: 0;
    h2 {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        @media(min-width: 1064px) {
            margin-top: 60px;
            margin-bottom: 60px;
        }
    }
    img {
        width: 100%;
        @media(min-width: 980px) {
            width: 300px;
        }
        @media(min-width: 1200px) {
            // width: 100%;
        }
        
    }
    .individual-services {
        text-align: center;
        font-weight: bold;

        @media(min-width: 900px) {
            display: flex;
            justify-content: center;
            gap: 7px;
        }
        @media(min-width: 1200px) {
            gap: 20px;
        }
        .service {
            padding-bottom: 40px;
            p {
                padding-top: 15px;
            }
            
        }
        
    }
    .learnmore-btn {
        text-align: right;
        padding-top: 20px;
        a {
            
            color: $black;
            text-decoration: none;
            &:hover,
            &:focus {
                text-decoration: underline;
            }
            img {
                max-width: 20px;
                max-height: 20px;
                margin-left: 20px;
            }
        }
        
    }
}